@import "_global.scss";
@import "_about.scss";
@import "_menu.scss";
@import "_location.scss";
@import "_contact.scss";

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  .navbar {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    .img {
      flex-grow: 2;
      .image {
        width: 230px;
      }
    }
  }
  .main {
    background-image: url("../Pictures/burger-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100% - 160px);
    color: #ffffff;
    display: flex;
    justify-content: center;
    .text {
      margin-top: 50px;
      width: 50%;
      text-align: center;
      font-size: 3em;
    }
  }
  .botBar {
    display: flex;
    justify-content: center;
    min-height: 50px;
    button {
      border: none;
    }
    .faq {
      flex-grow: 1;
      width: 38%;
      .faq1 {
        padding: 10px;
      }
    }
    .middle {
      width: 20%;
      display: flex;
      .socMed {
        padding: 10px;
        font-size: 1.3em;
        margin: 0 5px;
      }
      .subscribe {
        padding: 10px;
        font-size: 1em;
        text-decoration: underline;
        margin: 0;
      }
    }
    .space {
      width: 40%;
      flex-grow: 2;
    }
  }
}
#myBtn {
  text-decoration: underline;
}
.subBtn:hover {
  cursor: pointer;
}
.container {
  width: 90%;
  .container2 {
    display: flex;
    flex-direction: column;
    .input {
      display: flex;
      justify-content: space-between;
      margin: 5px 10px;
    }
    .input1 {
      display: flex;
      justify-content: flex-end;
      margin: 10px;
      input {
        margin: 0 0 0 10px;
      }
    }
    .input3 {
      @extend .input;
      justify-content: flex-start;
      align-items: center;
      input {
        margin: 0 0 0 10px;
      }
    }
  }
  .inputTitle {
    font-size: 1.5em;
    margin: 5px 10px;
    font-weight: bold;
    .subSub {
      font-size: .85em;
    }
  }
}
.job {
  position: fixed;
  bottom: 0;
  right: 0;
  .subWork {
    margin: 0 0 0 10px;
    font-size: 1.4em;
  }
  .work {
    margin: 0 0 0 10px;
    width: 60%;
  }
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

//Faq page scss
.faqTitle {
  font-size: 2em;
  margin: 10px;
}
.faqA {
  margin: 10px;
  .faqTop {
    font-size: 1.4em;
    border: none;
    cursor: pointer;
  }
  .faqBot {

  }
}